.sony {
    width: 200px;
    height: 60px;
}

.flex-end {
    flex-direction: row;
    justify-content: flex-end;
}

ul {
    list-style: none;
}

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    /*aggiungi size*/
    background-position: center;
    height: 650px;
}

.acquista {
    background-color: hsl(15deg 80% 45%);
}

h5 {
    color: hsl(207deg 93% 42%);
}

.cdc-blue {
    background-color: hsl(222deg 79% 54%);
}

.jumbo2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    height: 650px;
}

.cdc-logo-game {
    width: 200px;
}

#new-realease {
    background-color: hsl(0deg 0% 12%);
}