body {
    font-family: Arial, Helvetica, sans-serif;
}

.sony {
    width: 200px;
    height: 60px;
}

.flex-end {
    flex-direction: row;
    justify-content: flex-end;
}

ul {
    list-style: none;
}

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;

}

.acquista {
    background-color: hsl(15deg 80% 45%);
}

h5 {
    color: hsl(207deg 93% 42%);
}

.cdc-blue {
    background-color: hsl(222deg 79% 54%);
}

.ps5 {}

.accessories {
    height: 200px;
    opacity: 70%;
}

.jumbo2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;
}

.cdc-logo-game {
    width: 200px;
}

#new-realease {
    background-color: hsl(0deg 0% 12%);
}

#plus {
    background-color: hsl(20deg 2% 74%);
}

#button-plus {
    color: hsl(222deg 78% 55%);
}

#now {
    background-color: hsl(230deg 46% 16%);
}

#button-now {
    background-color: white;
}

footer {
    background-color: hsl(214deg 100% 31%);
}